* {
  box-sizing: border-box;
}

.nav-link, .navbar-brand {
  color: black;
}

.footer {
  border-top: 1px solid black;
  padding: 2rem;
  height: 20vh;
  width: 100vw;
  text-align: center;
  
}

.social-links {
  display: inline;
  width: 50%;
  height: 100%;
  font-size: 5rem;
}

.up-to-top {
  display: inline;
  font-size: 4.5rem;
  margin-right: 10rem;
}

.go-to-categories {
  display: inline;
  font-size: 4.5rem;
  margin-left: 10rem;
}

.IDM-exclusive {
  color: black;
}

.IDM-exclusive:hover {
  text-decoration: none;
  color: grey;
}

.bowling-background {
  width: 100%;
  height: 100%;
}

h1, h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.container-img {
  margin-bottom: 3rem;
}

.container-writing {
  margin-bottom: 3rem;
}


table {
  margin-bottom: 3rem;
}

.container-carousel {
  width: 100%;
  height: 20%;
  margin-bottom: 5rem;
}

.carousel {
  height: 10%;
  width: 60%;
  margin: auto;
}

.container-Brian {
  width: 100%;
  padding: 2rem;
  border: 2px solid black;
  margin-bottom: 5rem;
}

.opening-s-wrap {
  text-align: center;
  margin-top: 10rem;
}

.portret-Brian {
  height: 100%;
  width: 100%;
}

.row {
  height: 80%;
}

body, html {
  padding: 0;
  margin: 0;
}
